<%= ui_form(object: @source, layout: ComponentHelper::FORM_ALIGNED) do |f| %>
  <%= ui_text_field(name: "name", label: "Name") %>
  <%= ui_select(
    name: "source_type",
    label: "Type",
    options: Source::TYPES,
    include_blank: "Choose type&hellip;".html_safe
  ) %>
  <%= ui_text_field(name: "url", label: "URL") %>
  <%= ui_text_field(name: "author", label: "Author") %>

  <%= ui_field_with_label("Images", :images) do %>
    <div id="ImageUploader" class="image-upload-widget" define="{images: new Recipes.ImageChooser(this, {maxImages: 1})}">
      <div id="VisibleContent" class="visible-content">
        <% if @source.image_uid.present? %>
          <div class="image bg-cover" data-image style="background-image:url(<%= @source.image(:thumb) %>)">
            <input type="hidden" data-remove-image name="source[remove_image]">
            <span class="remove centered" title="Remove"><%= fa_icon('trash') %></span>
          </div>
        <% end %>
        <div id="FileUpload" class="image-upload" title="Select images to upload">
          <div class="centered">
            <%= fa_icon('upload') %>
          </div>
        </div>
      </div>

      <input id="FileChooser" type="file" multiple accept="image/*" style="display:none">
      <div id="ImageTemplate" class="image bg-cover" data-image data-recently-uploaded style="display:none;">
        <input disabled type="hidden" data-image-data-uri name="source[image_data_uri]">
        <input disabled type="hidden" data-remove-image name="source[remove_image]">
        <span class="remove centered" title="Remove"><%= fa_icon('trash') %></span>
      </div>
    </div>
  <% end %>

  <%= ui_text_area(name: "description", label: "Description") %>
  <%= ui_submit("Submit") %>
<% end %>
