<%= image_tag source.image('small'), alt: source.name %>

<h2><%= link_to source.name, source_path(source) %></h2>
<%= pluralize source.recipes.count, 'recipe' %>
by <%= source.author %>
<%= link_to source.url, source.url %>
<%= simple_format source.description %>
