<%= form_for @recipe do |f| %>
  <div class="grid desk-8 alpha">
    <div class="form-label"><%= f.label :title, "Title" %></div>
    <%= f.text_field :title, class: 'fullwidth' %>
  </div>

  <div class="grid desk-12 both">
    <div class="form-label"><%= f.label :basic_source, "Source" %></div>
    <%= f.text_field :basic_source, class: 'fullwidth', placeholder: '(optional)' %>
  </div>

  <div class="grid desk-12 both">
    <div class="form-label"><%= f.label :source, "Source" %></div>
    <%= f.select :source_id, Source.all.map_ary(:name, :id), {include_blank: "Choose source&hellip;".html_safe}, class: 'fullwidth' %>
  </div>

  <div class="grid desk-12 both" define="{images: new Recipes.ImageChooser}">
    <div class="form-label">Images</div>
    <div id="ImageUploader" class="image-uploader">
      <div id="ImageList" class="images">
        <%= f.fields_for :images do |image_form| %>
          <% if image_form.object.new_record? %>
            <div class="image" style="<%= bg_image(image_form.object.source_image_url) %>">
              <%= image_form.hidden_field :source_image_url %>
              <span class="remove" title="Remove"><i class="fa fa-trash"></i></span>
            </div>
          <% else %>
            <div class="image" style="<%= bg_image(image_form.object.image(:thumb)) %>">
              <span class="remove" title="Remove"><i class="fa fa-trash"></i></span>
              <%= image_form.hidden_field :_destroy, class: 'remove_image' %>
            </div>
          <% end %>
        <% end %>
      </div>

      <div id="FileUpload" class="upload" title="Select images to upload"><i class="fa fa-upload"></i></div>
      <input id="FileChooser" type="file" multiple accept="image/*" style="display:none">
      <div id="ImageTemplate" class="image filechooser" style="display:none;background-size:cover">
        <input disabled type="hidden" class="image_data_uri" name="recipe[images_attributes][NUM][image_data_uri]">
        <span class="remove" title="Remove"><i class="fa fa-trash"></i></span>
      </div>
    </div>
  </div>

  <div class="grid desk-12 both">
    <div class="form-label"><%= f.label :ingredients_text, "Ingredients" %></div>
    <%= f.text_area :ingredients_text %>
  </div>

  <div class="grid desk-12 both">
    <div class="form-label"><%= f.label :instructions_text, "Instructions" %></div>
    <%= f.text_area :instructions_text, class: 'big' %>
  </div>

  <div class="grid desk-12 both">
    <div class="form-label"><%= f.label :notes, "Notes" %></div>
    <%= f.text_area :notes, class: 'big' %>
  </div>

  <div class="grid desk-12 both">
    <%= f.submit "Submit", class: 'button primary' %>
  </div>
<% end %>
