<%= form_for @recipe do |f| %>
  <fieldset>
    <div>
      <%= f.label :title, "Title" %>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.label :source, "Source" %>
      <%= f.text_field :source, placeholder: "(optional)" %>
    </div>

    <div>
      <%= f.label :ingredients_text, "Ingredients" %>
      <%= f.text_area :ingredients_text %>
    </div>

    <div>
      <%= f.label :instructions_text, "Instructions" %>
      <%= f.text_area :instructions_text %>
    </div>

    <div>
      <%= f.submit "Done" %>
    </div>
  </fieldset>
<% end %>
