<%= form_for recipe, class: "form-horizontal" do |f| %>
  <fieldset>
    <div class="form-group">
      <%= f.label :title, "Title", class: "col-md-6 control-label" %>
      <div class="col-md-6">
        <%= f.text_field :title, class: "form-control input-md" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :source, "Source", class: "col-md-6 control-label" %>
      <div class="col-md-6">
        <%= f.text_field :source, class: "form-control input-md", placeholder: "(optional)" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :ingredients_text, "Ingredients", class: "col-md-6 control-label" %>
      <div class="col-md-6">
        <%= f.text_area :ingredients_text, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :instructions_text, "Instructions", class: "col-md-6 control-label" %>
      <div class="col-md-6">
        <%= f.text_area :instructions_text, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-6">
        <%= f.submit "Done", class: 'btn btn-primary' %>
      </div>
    </div>
  </fieldset>
<% end %>
