<%= ui_form(object: @recipe, layout: ComponentHelper::FORM_ALIGNED) do |f| %>
  <%= ui_text_field(name: "title", label: "Title") %>
  <%= ui_text_field(name: "basic_source", label: "Source", placeholder: "(optional)") %>
  <%= ui_select(
    name: "source_id",
    label: "Source",
    options: Source.all.map_ary(:name, :id),
    include_blank: "Choose source&hellip;".html_safe
  ) %>

  <div class="pure-control-group" define="{images: new Recipes.ImageChooser}">
    <label>Images</label>
    <div id="ImageUploader" class="image-upload-widget pure-input-2-3">
      <div id="VisibleContent" class="visible-content">
        <%= f.fields_for :images do |image_form| %>
          <% if image_form.object.new_record? %>
            <div class="image bg-cover" data-image style="background-image:url(<%= image_form.object.source_image_url %>)">
              <%= image_form.hidden_field :source_image_url %>
              <span class="remove centered" title="Remove"><%= fa_icon('trash') %></span>
            </div>
          <% else %>
            <div class="image bg-cover" data-image style="background-image:url(<%= image_form.object.image(:thumb) %>)">
              <%= image_form.hidden_field :_destroy, data: { 'remove-image' => true } %>
              <span class="remove centered" title="Remove"><%= fa_icon('trash') %></span>
            </div>
          <% end %>
        <% end %>
        <div id="FileUpload" class="image-upload" title="Select images to upload">
          <div class="centered">
            <%= fa_icon('upload') %>
          </div>
        </div>
      </div>

      <input id="FileChooser" type="file" multiple accept="image/*" style="display:none">
      <div id="ImageTemplate" class="image bg-cover" data-image data-recently-uploaded style="display:none;">
        <input disabled type="hidden" data-image-data-uri name="recipe[images_attributes][NUM][image_data_uri]">
        <span class="remove centered" title="Remove"><%= fa_icon('trash') %></span>
      </div>
    </div>
  </div>

  <%= ui_text_area(name: "ingredients_text", label: "Ingredients") %>
  <%= ui_text_area(name: "instructions_text", label: "Instructions") %>
  <%= ui_text_area(name: "notes", label: "Notes") %>
  <%= ui_submit("Submit") %>
<% end %>
