<% if ingredient.parsed? %>
  <li>
    <%= ui_content_container(grid_size_big: 4, grid_size_small: 2) do %>
      <%= ui_content_section do %>
        <%= ingredient.linked_ingredient_list %>
      <% end %>
      <%= ui_content_section(grid_size_big: 3) do %>
        <div><%= ingredient.description %></div>
        <% if ingredient.note.present? %>
          <div class="ingredient-note"><%= ingredient.note %></div>
        <% end %>
      <% end %>
    <% end %>
  </li>
<% else %>
  <li>
    <div><%= ingredient.line %></div>
  </li>
<% end %>
