<% set_page_title @recipe.title, heading: false %>

<% content_for :side_menu do %>
  <%= ui_side_menu_link('Edit this recipe', edit_recipe_path(@recipe), separated: true) %>
<% end %>

<%= ui_content_container do %>
  <%= ui_content_section do %>
    <div class="bg-cover recipe-main-image" style="background-image:url(<%= @recipe.image('full') %>)">
      <div class="centered">
        <h1 class="recipe-title"><%= @recipe.title %></h1>
      </div>
    </div>
  <% end %>

  <%= ui_editable_content_section(title: "Ingredients", object: @recipe, field: :ingredients_text) do %>
    <% @recipe.ingredient_groups.each do |group| %>
      <% if group.header %>
        <h3><%= group.header %></h3>
      <% end %>
      <ul class="ingredients-list">
        <% group.lines.each do |line| %>
          <%= render 'recipe_ingredient', ingredient: line %>
        <% end %>
      </ul>
    <% end %>
  <% end %>

  <%=
    ui_editable_content_section(title: "Instructions", object: @recipe, field: :instructions_text) do
      render_markdown @recipe.instructions_text
    end
  %>

  <% if @recipe.notes.present? %>
    <%=
      ui_editable_content_section(title: "Notes", object: @recipe, field: :instructions_text) do
        render_markdown @recipe.notes
      end
    %>
  <% end %>

  <% if @recipe.source %>
    <%= ui_content_section(title: "Source") do %>
      <%= image_tag @recipe.source.image(:mini) %>
      <%= link_to @recipe.source.name, source_path(@recipe.source) %>
      <% if @recipe.source.author %>
        by <%= @recipe.source.author %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
