<% set_page_title @recipe.title %>

<% content_for :side_menu do %>
  <%= ui_side_menu_link('Edit this recipe', edit_recipe_path(@recipe), separated: true) %>
<% end %>

<%= image_tag @recipe.image('full'), alt: @recipe.title %>

<%= ui_editable_content_section(title: "Ingredients", object: @recipe, field: :ingredients_text) do %>
  <% @recipe.ingredient_groups.each do |group| %>
    <% if group.header %>
      <h4><%= group.header %></h4>
    <% end %>
    <ul>
      <% group.lines.each do |line| %>
        <%= render 'recipe_ingredient', ingredient: line %>
      <% end %>
    </ul>
  <% end %>
<% end %>

<%=
  ui_editable_content_section(title: "Instructions", object: @recipe, field: :instructions_text) do
    render_markdown @recipe.instructions_text
  end
%>

<% if @recipe.notes.present? %>
  <%=
    ui_editable_content_section(title: "Notes", object: @recipe, field: :instructions_text) do
      render_markdown @recipe.notes
    end
  %>
<% end %>

<% if @recipe.source %>
  <%= ui_content_section(title: "Source") do %>
    <%= render 'source_info', source: @recipe.source %>
  <% end %>
<% end %>
