<% set_page_title @recipe.title %>

<% content_for :menubar do %>
  <li class ="to-left-more">
    <%= link_to 'Edit', edit_recipe_path(@recipe), class: 'menu-single-icon' %>
  </li>
<% end %>

<div class="rw-column rw-content">

  <%= breadcrumb @recipe.title %>

  <div class="rw-row page-title">
    <h1><%= @recipe.title %></h1>
  </div>

  <div class="rw-row">

    <!--
    // ===================================^__^=================================== //
       Entry first
    // ===================================^__^=================================== //
    -->
    <div class="entry style-columns">
      <div class="entry-photo single-recipe-photo-cover">
        <%= image_tag @recipe.image('full'), alt: @recipe.title %>
        <div class="recipe-tools">
          <div class="tool like" title="Like (686)"><i class="the-icon fa fa-thumbs-o-up"></i></div>
          <div class="tool favorite" title="Add to favorites (320)"><i class="the-icon fa fa-heart-o"></i></div>
          <div class="tool collection" title="Add to collection (47)"><i class="the-icon fa fa-bookmark-o"></i></div>
          <div class="tool share" title="Share (210)"><i class="the-icon fa fa-share-alt"></i></div>
        </div>
      </div>
      <div class="entry-content clearfix">

        <div class="recipe-content">

          <div id="Ingredients" refresh="ingredients" class="single-recipe-ingredients" define="{editIngr: new Recipes.InplaceEditor(this, '#IngredientList')}">
            <h3 class="recipe-headlines ingredients first">
              Ingredients
              <span class="edit">- <a href="#" bind-event-click="editIngr.toggle()">edit</a></span>
            </h3>

            <div id="IngredientList">
              <% @recipe.ingredient_groups.each do |group| %>
                <% if group.header %>
                  <h4><%= group.header %></h4>
                <% end %>
                <ul>
                  <% group.lines.each do |line| %>
                    <%= render 'recipe_ingredient', ingredient: line %>
                  <% end %>
                </ul>
              <% end %>
            </div>

            <%= form_for @recipe, html: {'tg-remote' => '1', 'refresh-on-success' => 'ingredients'} do |f| %>
              <div class="grid desk-12 both">
                <%= f.text_area :ingredients_text %>
              </div>

              <div class="grid desk-12 both">
                <%= f.submit "Update", class: 'button primary' %>
              </div>
            <% end %>
          </div>

          <h3 class="recipe-headlines preparation-mode">Preparation</h3>
          <%= render_markdown @recipe.instructions_text %>

          <% if @recipe.notes.present? %>
            <h3 class="recipe-headlines footnotes">Notes</h3>
            <%= render_markdown @recipe.notes %>
          <% end %>

          <h3 class="recipe-headlines links">Links</h3>
          <ul>
            <li><a href="#">Curabitur massa tortor, euismod accumsan dui eu</a></li>
            <li><a href="#">Aenean sed dui lorem</a></li>
            <li><a href="#">Nullam quis hendrerit sem, nec mollis augue</a></li>
          </ul>
        </div>

        <div class="recipe-meta">
          <ul>
            <% if @recipe.source %>
              <li>
                <div class="entry-info-author">
                  <%= image_tag @recipe.source.image(:mini) %>
                  <div class="author-name"><%= link_to @recipe.source.name, source_path(@recipe.source) %></div>
                  <% if @recipe.source.author %>
                    <div class="author-name">by <%= @recipe.source.author %></div>
                  <% end %>
                </div>
              </li>
            <% end %>
            <li><i class="the-icon fa fa-calendar" title="Submited on 21 Aug 2014"></i> <span>21 Aug 2014</span></li>
            <li><div><i class="the-icon fa fa-book" title="Category"></i> <span><a href="#">Desserts</a></span></div></li>
            <li><div><i class="the-icon fa fa-tasks" title="Difficulty"></i> <span>Easy</span></div></li>
            <li><div><i class="the-icon fa fa-clock-o" title="Preparation time"></i> <span>45 minutes</span></div></li>
            <li><i class="the-icon fa fa-bar-chart" title="2560 people read this"></i> <span>2560 views</span></li>
            <li><div><i class="the-icon fa fa-heart" title="Favorited by 320 users"></i> <span>320 favorites</span></div></li>
            <li><div><i class="the-icon fa fa-thumbs-up" title="686 like this"></i> <span>686 likes</span></div></li>
          </ul>
        </div>

      </div> <!-- .entry-content -->
      <div class="clear"></div>

    </div> <!-- .entry -->
    <div class="clear"></div>


  </div> <!-- .rw-row -->

  <div class="rw-row light border-tb">
    <div class="recipe-tags">
      <span class="tags-title">Tags:</span>
      <span class="tag"><a href="#">Chicken</a></span>
      <span class="tag"><a href="#">Chicken Roast</a></span>
      <span class="tag"><a href="#">Gluten-Free</a></span>
      <span class="tag"><a href="#">Low Carb</a></span>
      <span class="tag"><a href="#">Main Course</a></span>
      <span class="tag"><a href="#">Smoked Paprika</a></span>
    </div>
  </div> <!-- .rw-row -->

  <% if @related_recipes.any? %>
    <div class="rw-row subtle">
      <%= render 'recipes/recipe_section', title: "Related recipes", recipes: @related_recipes, count: 3 %>
    </div> <!-- .rw-row -->
  <% end %>
</div> <!-- .rw-content -->
