<% set_page_title @ingredient.name %>

<div class="rw-column rw-content">

  <%= breadcrumb @ingredient.name %>

  <div class="rw-row page-title">
    <h1><%= @ingredient.name.titleize %></h1>
  </div>

  <div class="rw-row">
    <div class="grid-container">
      <h2>Other names</h2>
      <%= @ingredient.alternate_names.join(', ') %>
    </div> <!-- .grid-container -->
  </div>

  <div class="rw-row border-top">
    <div class="grid-container">
      <h2>Merge into:</h2>
      <ul>
        <% Ingredient.find_each do |ing| %>
          <li><%= link_to ing.name, ingredient_merge_path(ing, id: @ingredient.id), method: :post %></li>
        <% end %>
      </ul>
    </div> <!-- .grid-container -->
  </div> <!-- .rw-row -->

  <div class="rw-row border-top subtle">
    <%= render 'recipes/recipe_section', title: "Recipes", recipes: @ingredient.recipes %>
  </div> <!-- .rw-row -->

</div> <!-- .rw-content -->
