<% content_for :application_content do %>
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "New Recipe", new_recipe_path %></li>
        <li><%= link_to "Log out", logout_path, method: :delete %></li>
      </ul>
      <h1><%= page_title %></h1>
    </div>

    <div class="row">
      <%= content_for?(:main_content) ? yield(:main_content) : yield %>
    </div>

    <div class="footer">
      <p>&copy; Peter McCracken 2014</p>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
